@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#opinionesContainer {
    max-width: 800px;
    margin: 0 auto;
}

.opinion {
    background-color: #ffffff;
    border: 1px solid #092b65;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Lora', serif;
    max-width: 600px;
    margin: 20px auto;
}

.opinion-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.opinion-header h3 {
    font-size: 1.5em;
    margin: 0;
    color: #148af0;
    text-align: center;
}

.opinion-body p {
    margin: 10px 0;
    color: #555;
}

.opinion-footer {
    text-align: center;
    font-size: 0.875em;
    color: #888;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.opinion:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

button {
    background: linear-gradient(135deg, #138cdc, #42a2eb);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

button:hover {
    background-color: #3f8dec;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.75em;
    }

    .opinion {
        padding: 10px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}

button {
    position: relative;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale
