body {
    font-family: Arial, sans-serif;
    background-color: #fffafa;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

header {
    background-color: #1E90FF; 
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #FFFFFF;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .logo img {
    height: 60px;
    width: 60px;
}

h1 {
    color: #FFFFFF;
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

li {
    background: #1C1C1C;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #1E90FF;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

li:hover {
    background-color: #1E90FF;
    border-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    color: #121212;
    text-decoration: underline;
}

footer {
    background-color: #1E90FF;
    padding: 10px;
    text-align: center;
    border-top: 3px solid #FFFFFF;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
